<h2>{{ titulo }}</h2>
<form action="{% url 'encuesta:enviar'%}" method="POST">
    {% csrf_token %}
    Nombre:
    <input type="text" name="nombre" maxlength="50"><br>
    Contraseña:
    <input type="password" name="password" ><br>
    Educacion:
    <select name="educacion" >
        <option value="sin_estudios">Sin estudios</option>
        <option value="educacion_obligatoria" selected="selected">Educacion Obligatoria</option>
        <option value="educacion_profesional">Formacion Profesional</option>
        <option value="universidad">Universidad</option>
    </select><br>
    Nacionalidad:
    <input type="radio" name="nacionalidad" value="hispana">hispana</input>
    <input type="radio" name="nacionalidad" value="otra">otra</input><br>
    Idiomas:
    <input type="checkbox" name="idiomas" value="español" checked=""checked>español</input>
    <input type="checkbox" name="idiomas" value="ingles" >ingles</input>
    <input type="checkbox" name="idiomas" value="frances" >frances</input>
    <input type="checkbox" name="idiomas" value="aleman" >aleman</input><br>
    Email:
    <input type="text" name="email"><br>
    Sitio web:
    <input type="text" name="siitioweb"><br>
    <input type="submit" name="submit" value="enviar">
</form>