<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'volumen:volumen' %}" method="POST">
        {% csrf_token %}
        <p>Ingrese la altura</p>
        <input type="number" name="altura">
        <p>Ingrese el radio</p>
        <input type="number" name="radio">
        <input type="submit" name="submit" value="enviar">
    </form>
</body>
</html>